.second_sect{
    background: url(../Images/Rectangle.png) no-repeat center ;
    margin-top: 6rem;
    /* background-color: rgb(252, 246, 246); */
    /* max-width: 1500px; */
    /* margin: 0 50px; */
    max-width: 1350px;
    /* position: relative; */
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    /* overflow: hidden; */
    /* top: 100px; */
    flex-direction: column;
    /* z-index: -1; */
}

.second_sect .container {
    /* height: 350px; */
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 50px;
    margin: 0 30px;
    /* margin-top: 2rem; */
    /* position: absolute; */
    /* top: 50px; */
    /* padding-left: 150px; */
}

.container_1, .container_2, .container_3 {
    /* width: 400px; */
    height: 200px;
    background: rgb(255, 255, 255);
    padding: 20px;
    font-size: 0.9rem;
    display: flex;
    justify-content:center ;
    align-self: center;
    text-align: center;
    flex-direction: column;
    box-shadow: 2px 2px rgb(236, 163, 4);
}

.container h4 {
    padding-bottom: 20px;
}
.container .act_btn_2 {
    border-radius: 8px;
    display: inline-block;
    margin-top: 20px;
    font-size: 10px;
    width: 100px;
    align-self: center;
}

.under{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.top_rank{
    margin-top: 10px;
    /* position: relative; */
    /* margin-left: 60px; */
    color: #000;
    /* margin-top: 20px; */
    font-size: 1rem;
    font-weight: bold;
    
}
.underline{
    background-color: rgb(236, 163, 4);
    width: 130px;
    height: 10px;
    border-radius: 10px;
    margin-top: 15px;
}