.Thirdcontainer {
    height: 400px;
    width: 95%;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin: ;
    position: relative;
    /* left: 1.5rem; */
    top: 2rem;
}

.Thirdcontainer .FirstContain {
    width: 350px;
    height: 200px;
    background: rgb(255, 255, 255);
}

.Thirdcontainer .SecondContain {
    background: blue;
    width: 350px;
    height: 200px;
    background: rgb(255, 255, 255);
}

.Thirdcontainer .ThirdContain {
    width: 350px;
    height: 200px;
    background: rgb(255, 255, 255);
}

.details {
    font-weight: bold;
    padding: 10px 0;
}

.more {
    color: rgb(236, 163, 4);
    font-size: 0.7rem;
    font-weight: bold;
}

.extra {
    /* background-color: green; */
    width: 300px;
    /* height: 100px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 20px; */
    position: relative;
    left: 500px;
}

.all{
    background-color: aliceblue;
    width: 90px;
    height: 30px;
    border-color: rgb(236, 163, 4);;
    border-radius: 5px;
    margin-bottom: 20px;
    color: rgb(236, 163, 4);;
}

.course{
    font-weight: bold;
}

.linethrough{
    background-color: rgb(236, 163, 4);
    width: 100%;
    height: 1px;
}


    /* STYLING FOR FifthMainSect */
.SecondContain div{
    font-weight: bold;
    margin-bottom: 10px;
}

.SecondContain p{
    margin-bottom: 30px;
}
